/*Farben:
  Grün: 268856
  Hell: dcd579
  Braun: b03522
  Dunkel: 4b1d2b
*/

/*
Heller: c1c1c1
Hell: a6a6a6
Dunkel: 5b5b5b
*/

@media screen and (min-width: 0px){

    /*body{
        background-color: #5b5b5b;
        border: 5px solid #c1c1c1;
        margin: 0px;
        padding: 10px;
    }*/
    #fragebogen{
        border-left: 2px solid black;
        overflow-y: scroll;
        overflow-x: hidden;
        position: absolute;
        top: 45px;
        left: 70%;
        height: 860px;
        width: 380px;
        margin-top: 0px;
        background-color: #5b5b5b;
        padding-left: 5px;
        margin-right: 20px;
        float: left;
    }
    #fragebogen form{
        width: 95%;
        float: left;
    }

    #pfff{
        margin-top: 50px;
    }

    .nich_pfff{
        margin-top: 50px;
    }

    .trennung{
        height: 5px;
        width: 100%;
        background-color: #000;
        margin-top: 50px;
    }

    button{
        border: 2px solid #a6a6a6;
        background-color: #c1c1c1;
        color: #000;
        font-weight: 900;
        font-size: 16px;
        box-shadow: 0 3px 5px rgba(0,0,0,0.2), 0 3px 5px rgba(0,0,0,0.4);
        padding-left: 0px;
    }
    button:hover{
        /*background-color: #0099cc;*/
        border: 3px solid #9bbc0f;
    }


    #speichern_button{
        border: 3px solid #a6a6a6;
        background-color: #c1c1c1;
        color: #000;
        font-weight: 900;
        font-size: 18px;
        padding: 8px;
        margin-left: 30px;
        margin-top: 10px;
        box-shadow: 0 3px 5px rgba(0,0,0,0.2), 0 3px 5px rgba(0,0,0,0.4);
    }
    #speichern_button:hover{
        border: 3px solid #9bbc0f;
    }


    .lösch_button{
        margin-top: 7px;
        font-size: 15px;
        width: 70%;
        height: 30px;
        box-shadow: 0 3px 5px rgba(0,0,0,0.2), 0 3px 5px rgba(0,0,0,0.4);
    }

    .option_hinzufügen{
        width: 30px;
        height: 30px;
        font-size: 20px;
        margin-left: 5px;
        padding-left: 5px;
    }


    option{
        color: #000;
        font-size: 20px;
    }
    select{
        background-color: #5b5b5b;
        border: 2px solid #c1c1c1;
        font-size: 16px;
        color: #000;
        box-shadow: 0 3px 5px rgba(0,0,0,0.2), 0 3px 5px rgba(0,0,0,0.4);
        height: 30px;
        margin-right: 5px;
    }

    .one_radio label{
        width: 100%;
        text-align: center;
    }


    .one_radio input[type=radio] {
        appearance: none;
        display: inline-block;
        position: relative;
        background-color: #5b5b5b;
        color: #000;
        top: 9px;
        height: 20px;
        width: 20px;
        border: 0;
        cursor: pointer;     
        margin-left: 10px;
        margin-bottom: 5px;
        outline: none;
        border-radius: 60px;
        border: 2px solid #c1c1c1;
        box-shadow: 0 3px 5px rgba(0,0,0,0.2), 0 3px 5px rgba(0,0,0,0.4);
    }
    .one_radio input[type=radio]:checked::before {
        position: absolute;
        font-size: 30px;
        left: 0px;
        top: -8px;
        font-weight: 800;
        content: '\002A';
        /*transform: rotate(40deg);*/
        color: #000;
    }


    textarea{
        border: 2px solid #c1c1c1;
        background-color: #a6a6a6;
        color: #000;
        font-size: 16px;
    }

}

