/*Farben:
  Grün: 268856
  Hell: dcd579
  Braun: b03522
  Dunkel: 4b1d2b
*/

/*
Darkest Green: 0f380f
Dark Green: 306230
Light Green: 8bac0f
Lightest Green: 9bbc0f 
*/

/*Dies wird auf alle Elemente angewendet.
Kann negiert werden, wenn ein Wert im späteren CSS-Code anders
angegeben wird*/
@media screen and (min-width: 0px){
  * {
    box-sizing: border-box;
    float: left;
  }
  /*Für das html-Dokument*/
  /*###############################################*/
  html {
    font-family: "Lucida Sans", sans-serif;
    background-color: #000;
    width: 100%;
    height: 100%;
  }
  body{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  /*allgemein*/
  /*###############################################*/
  .seite{
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    position: absolute;
    background-color: #0f380f;
    height: 90%;
  }
  .header{
    /*background-color: #306230 ;*/
    color: black;
    width: 100%;
    height: 10px;
  }
  .header h1{
    margin-left: 25px;
  }
  .footer{
    /*background-color: #306230 ;*/
    color: #dcd579;
    text-align: center;
    font-size: 12px;
    width: 100%;
    height: 200px;
  }
  .erläuterung{
    width: 100%;
  }
  .linker_rand{
    width: 0px;
  }
  .links{
  margin-top: 20px;
  width: 100%;
  height: 50px;

  }
  .links ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 0px;
    width: 100%;
    height: 100%;
  }
  .links li{
    width: 33%;
    /*padding: 8px;*/
    margin-right: 4px;
    background-color: #306230;
    color: black;
    /*box-shadow: 0 3px 5px rgba(0,0,0,0.2), 0 3px 5px rgba(0,0,0,0.4);*/
    float: left;
    font-size: 30px;
  }
  .links li:hover {
    background-color: #8bac0f;
  }
  .main_object {
    /*box-shadow: 0 3px 5px rgba(0,0,0,0.2), 0 3px 5px rgba(0,0,0,0.4);*/
    /*background-color: #306230;*/
    margin-top: 10px;
  }
  button{
    border: 2px solid #306230;
    background-color: #0f380f;
    color: #000;
    font-weight: 900;
    font-size: 16px;
    /*box-shadow: 0 3px 5px rgba(0,0,0,0.2), 0 3px 5px rgba(0,0,0,0.4);*/
  }
  button:hover{
    border: 3px solid #9bbc0f ;
    background-color: #8bac0f;
  }
  
  /*Für die Hauptseite*/
  /*###############################################*/
  #farbauswahl{
    /*border: 1px solid black;*/
    width: 100%;
  }
  #auswahl_anzeige{
    width: 100%;
    border: 3px solid #306230;
    align-content: center;
    position: relative;
  }
  #auswahl_anzeige button{
    width: 15%;
    height: 25%;
    position: absolute;
    bottom: 0;
    right: 0;
    /*background-color:#b03522;
    color: #dcd579;
    border: 1px solid #9bbc0f;*/
    font-size: 17px;
  }
  #auswahl_anzeige p{
    font-size: 30px;
  }
  #buttons{
    width: 100%;
    font-size: 30px;
  }
  #buttons p{
    margin-top: 0px;
    font-size: 30px;
  }
  #buttons button{
    width: 20%;
  }
  #uhrzeit{
    text-align: center;
    width: 100%;
    text-shadow: 0 3px 5px rgba(0,0,0,0.2), 0 3px 5px rgba(0,0,0,0.4);
  }
  #angaben{
    /*box-shadow: 0 3px 5px rgba(0,0,0,0.2), 0 3px 5px rgba(0,0,0,0.4);*/
    background-color: #0f380f;
    /*border: 4px solid black;*/
    width: 100%;
    height: 150px;
  }
  #angaben ul{
    list-style: none;
    width: 90%;
    padding-left: 10%;
  }
  #angaben li{
    float: none;
    width: 100%;
    text-align: center;
    color: #dcd579;
    text-shadow: 0 3px 5px rgba(0,0,0,0.2), 0 3px 5px rgba(0,0,0,0.4);
  }
  #angaben input{
    width: 100%;
    height: 100%;
    border: 3px solid black;
    font-size: 20px;
  }
  #angaben button{
    width: 20%;
    margin-left: 40%;
    background-color: #0f380f;
    /*color: #b03522;*/
    /*border: 2px solid black;*/
    box-shadow: 0 3px 5px rgba(0,0,0,0.2), 0 3px 5px rgba(0,0,0,0.4);
  }
  #angaben button:hover{
    /*border: 3px solid white;*/
    background-color: #8bac0f;
  }
  .legende{
    /*background-color: #306230;*/
    color: black;
    text-align: center;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2), 0 3px 5px rgba(0,0,0,0.4);
    margin-top: 15px;
    width: 100%;
    /*float: right;*/
  }
  .legende ul{
    list-style: none;
    width: 100%;
    padding-left: 0px;
    border: 2px solid blue;
  }
  .legende li{
    width: 20%;
    float: left;
    border: 1px solid red;
  }
  .legende h2{
    width: 100%;
    text-shadow: 0 3px 5px rgba(0,0,0,0.2), 0 3px 5px rgba(0,0,0,0.4);
  }
  .legende span{
    height: 100%;
    width: 100%;
    border: 2px solid black;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2), 0 3px 5px rgba(0,0,0,0.4);
  }
  .legende p{
    height: 100%;
    margin-top: 0%;
    text-align: left;
    padding-left: 10px;
    margin-top: 0%;
    text-shadow: 0 3px 5px rgba(0,0,0,0.2), 0 3px 5px rgba(0,0,0,0.4);
  }







  /*Für die Statistik*/
  /*###############################################*/
  #suchfunktion_h1{
    background-color: #4b1d2b;
    color: #dcd579;
    width: 100%;
    height: 80px;
    margin: 0px;
    padding: 20px;
    font-size: 40px;
  }
  #suche_kategorie{
  background-color: #268856;
  border: 5px solid #4b1d2b;
  margin: 0px;
  padding: 10px;
  }
  #pfff{
    margin-top: 30px;
  }
  .nich_pfff{
    margin-top: 60px;
  }

  option{
    color: #4b1d2b;
    font-size: 20px;
  }
  select{
    background-color: #dcd579;
    border: 2px solid #4b1d2b;
    font-size: 16px;
    color: #4b1d2b;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2), 0 3px 5px rgba(0,0,0,0.4);
    height: 30px;
    margin-right: 5px;
  }
  input[type=radio] {
    appearance: none;
    display: inline-block;
    position: relative;
    background-color: #dcd579;
    color: #000;
    top: 9px;
    height: 20px;
    width: 20px;
    border: 0;
    cursor: pointer;     
    margin-right: 5px;
    margin-left: 10px;
    margin-left: -3px;
    margin-bottom: 5px;
    outline: none;
    border-radius: 60px;
    border: 2px solid #4b1d2b;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2), 0 3px 5px rgba(0,0,0,0.4);
  }
  input[type=radio]:checked::before {
    position: absolute;
    font-size: 30px;
    left: 0px;
    top: -8px;
    font-weight: 800;
    content: '\002A';
    /*transform: rotate(40deg);*/
    color: #b03522;
  }
  .suche_radio{
    font-size: 15px;
    margin-top: 15px;
    margin-right: 15px;
  }
  textarea{
    border: 2px solid #4b1d2b;
    background-color: #dcd579;
    color: #4b1d2b;
    font-size: 16px;
  }
  #statistik_suchen_button{
    width: 70%;
    height: 40px;
  }
  #statistik_löschen_button{
    width: 30%;
    height: 40px;
  }




  


  /*Für den Kalender*/
  /*###############################################*/
  #kalender{
    border: 3px solid black;
    background-color: grey;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2), 0 3px 5px rgba(0,0,0,0.4);
  }
  #kalender tr{
    float: none;
  }
  #kaleder td{
    border: 1px solid black;
    background-color: white;
  }
  #kalender th{
    border: 1px solid red;
  }
  .kalender_button{
    margin-top: 200px;
    background-color: #b03522;
    color: #dcd579;
    border: 1px solid black;
  }
  .kalender_button:hover{
    background-color: #0099cc;
    border: 1px solid white;
  }

  #tagesstatistik{
    margin-top: 15px;
    background-color: #dcd579;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2), 0 3px 5px rgba(0,0,0,0.4);
 
  }
  #tagesstatistik h1{
    margin-top: 0px;
    width: 100%;
    height: 80px;
    background-color: #4b1d2b;
    color: #dcd579;
    padding-top: 20px;
    text-align: center;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2), 0 3px 5px rgba(0,0,0,0.4);
  }
  #tagesstatistik_datum{
    width: 100%;
    text-align: center;
    color: #4b1d2b;
  }
  #tagesstatistik button{
    border: 1px solid black;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2), 0 3px 5px rgba(0,0,0,0.4);
    background-color: #b03522;
    color: #dcd579;
    font-size: 14px;
    height: 40px;
    width: 40%;
    margin: 5px 5% 5px 5%;
  }
  #tagesstatistik button:hover{
    background-color: #0099cc;
    border: 1px solid white;
  }
  #detail_box{
    width: 100%;
    background-color: #4b1d2b;
    color: #dcd579;
    text-align: left;
  }
  #detail_box p{
    width: 100%;
    margin: 0px;
    font-size: 16px;
  }

  /*Für das Puzzle*/
  /*###############################################*/
  #puzzle_spielfeld{
    border:1px solid #4b1d2b;
    width: 600px;
    height: 600px; 
  }

  .kachel{
    height: 20%;
    width: 20%;
    float: left;
    text-align: center;
    font-size: 60px;
    border: 1px solid #b03522;
  }

  #puzzle_statistik{
    background-color: #b03522;
    height: 400px;
    width: 400px;
    margin-top: 10px;
    margin-left: 10px;
  }

  #puzzle_statistik_box{
    width: 90%;
    height: 90%;
    margin: 5%;
  }

  #puzzle_statistik_box p{
    height: 20%;
    margin: 0px;
    border-bottom: 1px solid black;
    padding-top: 10%;
  }

  .puzzle_info{
    margin-bottom: 100px;
  }


}



/*Media Query, erfasst die Breite des Bildschirms und bestimmt anhand dessen das Layout der Seite.
  Es wird immer nur ein CSS-Block zur selben Zeit verfögbar sein, weshalb sich das HTML-Dokument
  nur genau dieses raus suchen kann.
*/

/*Für Bildschirme*/
@media screen and (min-width: 1000px) {
/*allgemein*/
/*###############################################*/
.header {
  height: 80px;
}
.footer {
  margin-top: 8px;
}
.links{
  width: 150px;
}
.links li {
  width: 90%;
  height: 45px;
}

/*Für die Hauptseite*/
/*###############################################*/
#seite_1 .main_object {
  width: 600px;
}
#auswahl_anzeige{
  height: 120px;
  margin: 16px 0px 16px 0px;
}
#buttons button{
  height: 35px;
  /*border: 2px solid black;*/
}
#uhrzeit{
  font-size: 45px;
}
#angaben {
  margin-top: 10px;
}
#angaben ul{
  margin-top: 0px;
}
#angaben li{
  height: 25px;
  font-size: 20px;
}
#angaben button{
  height: 30px;
  font-size: 18px;
}


#legende_box{
  width: 240px;
}
#legende {
  width: 92%;
}
#legende li{
  height: 34px;
  margin-bottom: 3px;
}
#legende h2{
  font-size: 23px;
}
#legende span{
  width: 35px;
}
#legende p{
  font-size: 18px;
}



/*Für den Kalender*/
/*###############################################*/
#kalender tr{
  font-size: 25px;
}
#kalender td{
  height: 55px;
  width: 55px;
  margin: 1px;
}
.kalender_button{
  width: 80px;
  height: 50px;
  font-size: 15px;
}
#tagesstatistik{
  margin-left: 10px;
  width: 260px;                                                          
}
#tagesstatistik h1{
  font-size: 25px;
}
}
/*Ende 1000px*/


/*Für Bildschirme >1200*/
@media screen and (min-width: 1200px) {
/*allgemein*/
/*###############################################*/
.header {
  height: 100px;
}
.footer {
  margin-top: 12px;
}
.links{
  width: 200px;
}
.links li {
  width: 85%;
  height: 45px;
}

/*Für die Hauptseite*/
/*###############################################*/
#seite_1 .main_object {
  width: 690px;
}
#auswahl_anzeige{
  height: 140px;
  margin: 16px 0px 16px 0px;
}
#buttons button{
  height: 40px;
  /*border: 2px solid black;*/
}
#uhrzeit{
  font-size: 55px;
}
#angaben {
  margin-top: 10px;
}
#angaben ul{
  margin-top: 3px;
}
#angaben li{
  height: 30px;
  font-size: 20px;
}
#angaben button{
  height: 35px;
  font-size: 20px;
}


#legende_box{
  width: 300px;
}
#legende {
  width: 90%;
}
#legende li{
  height: 40px;
  margin-bottom: 5px;
}
#legende h2{
  font-size: 25px;
}
#legende span{
  width: 40px;
}
#legende p{
  font-size: 20px;
}



/*Für den Kalender*/
/*###############################################*/
#kalender tr{
  font-size: 30px;
}
#kalender td{
  height: 68px;
  width: 65px;
  margin: 1px;
}
.kalender_button{
  width: 100px;
  height: 50px;
  font-size: 15px;
}
#tagesstatistik{
  margin-left: 15px;
  width: 300px;                                                            
}
}
/*Ende 1200px*/


/*Für Bildschirme >1400*/
@media screen and (min-width: 1400px) {
/*allgemein*/
/*###############################################*/
.header {
  height: 110px;
}
.footer {
  margin-top: 15px;
}
.links{
  width: 250px;
}
.links li {
  width: 85%;
  height: 45px;
}

/*Für die Hauptseite*/
/*###############################################*/
#seite_1 .main_object {
  width: 800px;
}
#auswahl_anzeige{
  height: 180px;
  margin: 20px 0px 20px 0px;
}
#buttons button{
  height: 40px;
 /*border: 3px solid black;*/
}
#uhrzeit{
  font-size: 65px;
}
#angaben {
  margin-top: 15px;
}
#angaben ul{
  margin-top: 8px;
}
#angaben li{
  height: 35px;
  font-size: 22px;
}
#angaben button{
  height: 35px;
  font-size: 22px;
}


#legende_box{
  width: 330px;
}
#legende {
  width: 90%;
}
#legende li{
  height: 45px;
  margin-bottom: 8px;
}
#legende h2{
  font-size: 30px;
}
#legende span{
  width: 50px;
}
#legende p{
  font-size: 22px;
}



/*Für den Kalender*/
/*###############################################*/
#kalender tr{
  font-size: 30px;
}
#kalender td{
  height: 75px;
  width: 72px;
  margin: 1px;
}
.kalender_button{
  width: 110px;
  height: 50px;
  font-size: 15px;
}
#tagesstatistik{
  margin-left: 25px;
  width: 360px;                                                             
}
}
/*Ende 1400px*/


/*Für Bildschirme >1600*/
@media screen and (min-width: 1600px) {
/*allgemein*/
/*###############################################*/
.header {
  height: 150px;
}
.footer {
  margin-top: 25px;
}
.links{
  width: 300px;
}
.links li {
  width: 85%;
  height: 50px;
}

/*Für die Hauptseite*/
/*###############################################*/
#seite_1 .main_object {
  width: 1000px;
}
#auswahl_anzeige{
  height: 200px;
  margin: 20px 0px 20px 0px;
}
#buttons button{
  height: 50px;
 /* border: 3px solid black;*/
}
#uhrzeit{
  font-size: 80px;
}
#angaben {
  margin-top: 25px;
}
#angaben ul{
  margin-top: 10px;
}
#angaben li{
  height: 30px;
  font-size: 30px;
}
#angaben button{
  height: 35px;
  font-size: 30px;
}


#legende_box{
  width: 300px;
}
#legende {
  width: 85%;
}
#legende li{
  height: 50px;
  margin-bottom: 10px;
}
#legende h2{
  font-size: 30px;
}
#legende span{
  width: 50px;
}
#legende p{
  font-size: 22px;
}



/*Für den Kalender*/
/*###############################################*/
#kalender tr{
  font-size: 30px;
}
#kalender td{
  height: 75px;
  width: 75px;
  margin: 2px;
}
.kalender_button{
  width: 150px;
  height: 55px;
  font-size: 20px;
}
#tagesstatistik{
  margin-left: 25px;
  width: 400px;                                                             
}
}
/*Ende 1600px*/


/*Für Bildschirme >1800px*/
@media screen and (min-width: 1800px) {
/*allgemein*/
/*###############################################*/
.header {
  height: 50px;
}
.footer {
  margin-top: 35px;
}
.links{
  width: 90%;
  margin-left: 5%;
}
.links li {
  width: 33%;
  height: 100%;
}

/*Für die Hauptseite*/
/*###############################################*/
#seite_1 .main_object {
  width: 90%;
  margin-left: 5%;
  margin-top: 5px;
}
#auswahl_anzeige{
  height: 300px;
  margin: 0px 0px 20px 0px;
}
#buttons button{
  height: 55px;
  /*border: 3px solid black;*/
}
#uhrzeit{
  font-size: 80px;
}
#angaben {
  margin-top: 25px;
  height: 50px;
}
#angaben ul{
  margin-top: 10px;
}
#angaben li{
  height: 40px;
  font-size: 22px;
}
#angaben button{
  height: 40px;
  font-size: 25px;
}


.legende_box{
  width: 100%;

}
.legende {
  width: 100%;
}
.legende li{
  height: 50px;
  margin-bottom: 8px;
}
.legende h2{
  font-size: 28px;
  margin-top: 15px;
  margin-bottom: 0px;
}
.legende span{
  border: 1px solid black;
  width: 100%;
}
.legende p{
  font-size: 25px;
}



/*Für die Statistik
#################################################*/
#seite_2 .main_object{
  width:350px;
}

#suche_kategorie{
  width: 100%;
  height: 650px;
  overflow-y: auto;
}



/*Für den Kalender*/
/*###############################################*/
#kalender tr{
  font-size: 40px;
}
#kalender td{
  height: 90px;
  width: 90px;
  margin: 2px;
}
.kalender_button{
  width: 150px;
  height: 80px;
  font-size: 20px;
}
#tagesstatistik{
  margin-left: 20px;
  width: 430px;                                                            
}
}
/*Ende 1800px*/
